/* Animations done the tailwind prefered way animate with jitters */
@layer base {
 .path {
    transform: translateY(-100%);
    &.active{
       animation: vDraw 2.5s ease-out forwards;
    }
  }
  .h-path-left {
    transform: translateX(100%);
    &.active{
      animation: hDrawLeft 2s 2.5s ease-in forwards;
    }
  }
  .h-path-right {
    transform: translateX(-100%);
    &.active{
      animation: hDrawRight 2s 2.5s ease-in forwards;
    }
  }
  .bg-reveal{
    &.active{
      animation: bgReveal .75s 3.2s ease forwards;
    }
  }
  .ornament-arrow{
    opacity: 0;
    &.active{
      animation: fadeIn .4s 4.4s ease-in forwards;
    }
  }


  .hr{
    transform: scaleX(0%);
  /* animation: growOutward 1s ease-out forwards; */
  }


  /* Image Hero */
  .hero-line-left{
      transform: translateX(100%);
      animation: hDrawLeft 1.5s ease-out forwards;
   }
  .hero-line-right{
      transform: translateX(-100%);
      animation: hDrawRight 1.5s ease-out forwards;
   }
   .hero-line-ornament{
    opacity: 0;
    animation: fadeIn 0.5s 0.9s ease-out forwards;
   }


   /* Pattern Hero */
   .grow-outward {
    animation: growOutward 1s ease-out forwards;
   }



@keyframes growOutward {
  from{
    opacity: 0;
    transform: scaleX(0%);
  }
  to{
    opacity: 100;
    transform: scaleX(100%);
  }
}

  @keyframes fadeIn {
    to {
      @apply opacity-100;
    }
  }
  @keyframes vDraw {
    to {
      @apply translate-y-0;
    }
  }
  @keyframes hDrawLeft {
    to {
      @apply translate-x-0;
    }
  }
  @keyframes hDrawRight {
    to {
      @apply translate-x-0;
    }
  }
  @keyframes bgReveal {
    to {
      transform: translateY(100%);
    }
  }
}