.arrow{
  @apply relative inline-block w-6 h-8;
  &::before{
    content:'';
    @apply absolute right-0 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
    @apply w-4 h-0.5 bg-dark;
    @apply block float-right -translate-x-2;
    @apply  group-hover:w-16;
    transition: 0.3s ease-in-out;
  }
  &::after{
    content:'';
    @apply absolute right-0 transform -translate-y-1/2 top-1/2;
    @apply w-3 h-3 ;
    @apply block border-b-2 border-r-2 border-dark;
    @apply transform -rotate-45 -translate-x-1;
  }
}
.ornament-arrow-left{
  @apply absolute left-0 transform -translate-y-1/2 top-1/2;
  @apply w-0 h-0 border-l-[6px] border-y-[6px] border-y-paper/0 border-l-gold;
}
.ornament-arrow-right{
  @apply absolute right-0 transform -translate-y-1/2 top-1/2;
  @apply w-0 h-0 border-r-[6px] border-y-[6px] border-y-paper/0 border-r-gold;
}