/* Base Styles */
@import "tailwindcss/base";
@import "./styles/base/base.css";
@import "./styles/base/layout.css";
@import "./styles/base/typography.css";
/* Component Styles */
@import "tailwindcss/components";
@import "./styles/components/icons.css";
@import "./styles/components/buttons.css";
@import "./styles/components/headers.css";
@import "./styles/components/tabs.css";
/* Utility Syles */
@import "tailwindcss/utilities";
@import "./styles/utilities/backgrounds.css";


@layer components{
  .text-ornament{
    @apply relative mt-12;
    &::before{
      content: "";
      @apply absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
      @apply h-1.5 w-1.5 bg-gold -top-6 rotate-45;
    }
  }
}
@layer utilities {
  .center-absolute{
    @apply absolute z-10 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
  }
  .text-vertical{
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .alternating-text-image:nth-child(even){
    @apply relative;
     .image-frame{
      @apply relative order-first;
      /* img {
        @apply !rounded-jumbo;
      }
      &::after{
        content: "";
        @apply absolute z-10 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2;
        @apply h-[555px] w-[460px] border-gold border-2  scale-[85%];
      } */
    }
  }
}
