@layer base {
  html {
    @apply selection:bg-paper-action/70 selection:text-gold;
  }
  section{
    @apply py-20;
  }
  hr{
    @apply border-t-2 border-gold;
  }
  ::placeholder, ::-ms-input-placeholder{
    @apply uppercase opacity-100 text-dark;
  }
  a, button{
    @apply block focus:outline-2 focus:outline-gold;
  }
  dt {
    @apply mb-1 font-sans text-base font-bold tracking-widest uppercase text-dark;
  }
  dl{
    @apply mb-6;
  }
}