@layer base {
   h1, .h1 {
    @apply mb-3 text-4xl normal-case font-headline text-dark;
    @apply md:text-5xl;
  }
  h2, .h2{
    @apply mb-3 text-3xl normal-case font-headline text-dark;
    @apply md:text-5xl;
  }
  h3, .h3{
    @apply font-sans text-2xl font-normal uppercase text-dark;
    @apply md:text-3xl;
  }
  h4, .h4{
    @apply font-sans text-xl font-normal tracking-widest uppercase text-dark;
  }
  h5, .h5 {
    @apply font-sans text-lg font-bold tracking-wider uppercase text-gold;
  }
  h6, .h6 {
    @apply mb-4 font-sans text-base font-bold tracking-widest uppercase text-dark;
  }
  p {
    @apply mb-6;
    a {
      @apply text-gold;
      @apply hover:text-gold/50;
    }
  }
  p, a, dd, td {
    @apply font-sans text-lg text-dark;
  }
  a{
    @apply transition hover:text-gold/80;
  }
   .text-outline {
    @apply font-extrabold tracking-wide text-white;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #B48039;
  }
  .label{
    @apply font-bold tracking-wider uppercase text-gold;
  }
}